.logo img{
  margin: 4% 0 0 5%;
  width: 12%;
}

.hamburger{
  float: right;
  margin: 7% 7% 0 0;
  cursor: pointer;
}

.menu{
  background-color: rgba(18, 17, 17, .96);
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  z-index: 10;
  display: none;
}

.menu img{
  float: right;
  margin: 10% 11% 0 0;
  cursor: pointer;
}

.menu ul{
  position: relative;
  top: 2%;
}

.menu li{
  color: #fff;
  display: inline;
  text-transform: uppercase;
  font-weight: lighter;
  margin-left: 5%;
  cursor: pointer;
}

.menu span{
  display: block;
  font-weight: bold;
  color: #D0D6F9;
  font-size: 1.2em;
  margin-top: 40px;
  margin-left: 10%;
}

/* TABLET SIZE LAYOUT */

@media (min-width: 376px) and (max-width: 768px){
  .logo img{
    margin: 3% 0 0 5%;
    width: 7%;
  }

  .menu{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 55%;
  }

  .menu li{
    margin-left: 1%;
  }

  .menu span{
    font-size: .75em;
    display: inline;
    margin-left: 4%;
    position: relative;
    top: 35%;
  }

  .toggle{
    display: none;
  }
}